.home__section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.home__cardSection {
  padding: 40px;
}

@media (max-width: 767px) {
  .home__section {
    flex-wrap: wrap;
  }
}
